<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>377109978084-q55tulffd836p84lsg1dtk7nd384ql86.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.377109978084-q55tulffd836p84lsg1dtk7nd384ql86</string>
	<key>API_KEY</key>
	<string>AIzaSyAp74KcATQyvyIyYGU7G8zhKtx0w0oSuQw</string>
	<key>GCM_SENDER_ID</key>
	<string>377109978084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thefoodcompany.TheFoodProject</string>
	<key>PROJECT_ID</key>
	<string>thefoodproject-7c454</string>
	<key>STORAGE_BUCKET</key>
	<string>thefoodproject-7c454.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:377109978084:ios:cca7aed7e8ffa49e</string>
	<key>DATABASE_URL</key>
	<string>https://thefoodproject-7c454.firebaseio.com</string>
</dict>
</plist>
